/* Branding Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FBFBFF;
  --foreground: #222031;
  --primary: #AEDFF7;
  --primary-foreground: #1A2B44;
  --secondary: #E5D0FF;
  --secondary-foreground: #35255F;
  --accent: #FFA07A;
  --accent-foreground: #522E26;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
